@charset "utf-8";
.container header {
	background-color: #ECBE46;
}
.container header nav {
	background-color: #ECBE46;
}
.container #hero {
	background-image: url(images/%E5%B0%81%E9%9D%A22.jpg);
	background-position: 0 0;
	background-size: contain;
}
.container #about {
	background-image: -webkit-linear-gradient(270deg,rgba(247,224,180,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(247,224,180,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(247,224,180,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(247,224,180,1.00) 0%,rgba(255,255,255,1.00) 100%);
}
.container .banner {
	background-image: url(images/%E5%B0%81%E9%9D%A22.jpg);
}
.container #contact {
	background-image: url(images/%E5%B0%81%E9%9D%A22.jpg);
	background-size: contain;
}
.container .copyright {
	background-color: #ECBE46;
}
